:root{
   --prm-clr:hsl(0, 0%, 90%);
   --header-bg:hsl(200, 7%, 12%);
   --clr:hsl(0, 0% , 85%);
   --bg-clr:hsl(200, 7%, 6%);
   --border:rgba(255,255,255,0.1);
   --input-bg:rgb(0, 0, 0);
   // --each-note-bg:hsl(202, 97%, 0%);
   --each-note-bg:hsl(200, 7%, 12%);
   --each-note-shadow:rgba(64, 61, 71, 0.3);
   --input-focused:hsl(202, 96%, 5%);
   --theme-btn-clr:rgb(0, 0, 0);
   --theme-circle-clr:rgb(2,83,129);

   // --note-title-clr:hsl(202, 97%, 90%);
   --note-title-clr:hsl(0, 0%, 90%);
   --note-content-clr:hsl(0, 0%, 80%);

   --edit-mode-bg:rgba(0, 0, 0, 0.6);
}
.light_theme{
   --prm-clr:hsl(202, 100%, 5%);
   --header-bg:white;
   --clr:hsl(202, 100%, 10%);
   --bg-clr:hsl(176, 100%, 99%);
   --border:rgba(22, 22, 22, 0.15);
   --input-bg:white;
   --each-note-bg:white;
   --each-note-shadow:rgba(0,0,0,0.2);
   --input-focused:hsl(202, 96%, 95%);
   --theme-btn-clr:white;
   --note-title-clr:hsl(0, 0%, 0%);
   --note-content-clr:hsl(0, 0%, 15%);

   --edit-mode-bg:rgba(197, 197, 197, 0.6);
   div.circle{
       transform:translateX(150%);
   }a{
       background: white;
   }
}