header{
   border-bottom: 1px solid var(--border);
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--header-bg);
   h1{
       font-size:clamp(1.8rem,2rem,2vw);
       font-weight: 400;
       color:var(--prm-clr);
       display:flex;
       align-items: center;
       span{
           display:flex;
           margin-inline-end:1rem;
           width:clamp(2.8rem,3rem,3vw);
           img{
               width:100%;
           }
       }
   }
   div{
       position: relative;
       width:clamp(5rem,6rem,6vw);
       height: clamp(2rem,2.5rem,2.5vw);
       div.circle{
           position:absolute;
           border-radius: 50%;
           top:0;
           left:0;
           width:clamp(2rem,2.4rem,2.4vw);
           height: 100%;
           background: var(--theme-circle-clr);
           transition:transform 0.3s linear;
           pointer-events: none;
       }
   }
   a#theme_toggler{
       width:100%;
       height: 100%;
       border-radius: 1111rem;
       background: var(--theme-btn-clr);
       border:1px solid rgba(0,0,0,0.2);
       display: flex;
       align-items: center;
       overflow: hidden;
       justify-content: space-between;
       font-size:clamp(1.3rem,1.7rem,1.7vw);
   }
}