@import "./global";
@import "./colors";
@import "./header";
@import "./button";
@import './comp/editMode';




input,textarea#note_content{
    background: inherit;
    border:1px solid var(--border);
    resize:none;
    display: block;
    width:100%;
    padding:1rem;
    background: var(--input-bg) !important;
    color:var(--clr);
    border-radius: 0.3rem;
    transition: background 0.3s linear;
    font-size: clamp(1.6rem,1.7rem,1.7vw);
    &:focus{
        background: var(--input-focused) !important;
    }
}
input{
    height: clamp(2.5rem,3rem,3vw);
    padding:2rem 1rem;
}
textarea#note_content{
    height: 15rem;
    display: none;
}
main{
    padding-bottom: 4rem;
}
a{
    cursor: pointer;
    transition: transform 0.3s linear;
    &:active{
        transform: scale(0.9) translateY(0.2rem);
    }
}
header,#note_output_section{
    padding: 0.5rem clamp(1rem,3rem,3vw);
}

div.note_input_section{
    position: relative;
    margin: clamp(3rem,3rem,3vw) clamp(1rem,3rem,3vw);
    input{
        margin-bottom: 1rem;
    }
}
a#note_gen_btn{
    background: rgb(2, 83, 129);
    width: 4.5rem;
    height:3rem;
    display: grid;
    place-items: center;
    justify-content: center;
    cursor:pointer;
    transition: transform 0.2s linear;
    overflow: hidden;
    bottom:0;
    right:0;
    position:absolute;
    color:white;
    font-size:clamp(3rem,3rem,3vw);
    line-height: 3rem;
    user-select: none;
    display: none;
}
div#note_output_section{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 3rem;
    div.each_note_container{
        text-align: center;
        width: 90%;
        height: clamp(20rem,25rem,25vw);
        border-radius:0.5rem;
        margin-bottom: 2rem;
        background: var(--each-note-bg);
        word-wrap:break-word;
        box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.3);
        position:relative;
        overflow:hidden;
        opacity: 1;
        h3,p{
            padding:0.5rem;
            font-size: clamp(1.5rem,1.7rem,1.7vw);
            font-weight: 400;
        }
        h3{
            border-bottom:1px solid var(--border);
            color:var(--note-title-clr);
        }
        p{
            // font-size: clamp(1.5rem,1.7rem,1.7vw);
            // padding:0.5rem;
            color:var(--note-content-clr);
            text-align: left;
            line-height: 2.5rem;
            width:100%;
            height: 80%;
            // font-weight: 400;
            // letter-spacing: 0.1rem;
            white-space: pre-line;
        }
        button{
            position: absolute;
            bottom:0;
            right:0;
            display: none;
        }
        button.delete_btn{
            display: block;
        }
        span.ripple_effect{
            position:absolute;
            background: rgba(2, 61, 95,0.3);
            transform:translate(-50%,-50%);
            border-radius:50%;
            pointer-events: none;
            animation:animate_ripple 0.5s linear infinite;
        }
        @keyframes animate_ripple{
            from{
                width:0;
                height:0;
            }to{
                width:80rem;
                height: 80rem;
            }
        }
        span.random_elements{
            width:7rem;
            height: 7rem;
            border-radius:50%;
            position: absolute;
            top:-20%;
            left:-10%;
        }
    }
}
.animate_list_loading{
    opacity: 1 !important;
    animation: load_div 0.5s ease forwards;
}
@keyframes load_div{
    0%{
        transform: scale(0.8);
        animation-timing-function: ease;
        background:rgb(2, 61, 95);
    }50%{
        animation-timing-function: ease-in;
        opacity: 1;
        transform: scale(1.1);
    }100%{
        animation-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
    }
}


div.search_form{
    display: flex;
    padding: 0 3rem;
    margin:4rem 0 2rem 0;
    align-items: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    h3{
        // font-size:clamp(2rem,2.5rem,2.5vw);
       font-size:clamp(1.8rem,2rem,2vw);
        color:var(--prm-clr);
        font-weight: 400;
        width: 100%;
        position: relative;
    }
    input#search_keyword{
        max-width: 60rem;
        padding: 2rem 1rem;
        margin-left: auto;
        height: clamp(2.5rem,4rem,4vw) !important;
        color:var(--clr);
        border-top:none;
        border-bottom:none;
    }
}
@media screen and(min-width:600px){
    div.note_input_section{
        display:flex;
        flex-direction:column;
        padding:3rem 0 0 0;
        width:50%;
        max-width: 60rem;
        margin:0 auto;
        position:relative;
        input,textarea{
            width:100%;
        }
        textarea{
            height: 15rem;
        }
    }

    div#note_output_section{
        padding:3rem 3rem;
        position: relative;
        div.each_note_container{
            height: clamp(17rem,20rem,20rem);
            width: 30%;
            max-width: 50rem;
            min-width: 40rem;
            cursor: pointer;

            &:hover{
                transform: translateY(-1rem);
                box-shadow: 0 0.3rem 0.6rem rgba(64, 61, 71, 0.7);
                button#delete_btn{
                    display: block;
                }
            }
            button#edit_note{
                display: none !important;
            }
        }
    }
}

.body_relative{
    position: relative;
    background: var(--bg-clr);
    input,textarea{background: inherit !important;}
    div#note_output_section div{
        background: inherit;
    }
}
.active_editing{
    position: fixed !important;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) !important;
    background: var(--each-note-bg) !important;
    z-index: 4;
    width:50rem !important;
    height: 50rem !important;
    cursor: auto !important;
    p,h3{
        outline: none;
    }
    @media screen and(max-width:600px) {
        width:90% !important;
        height: 50% !important;
        margin-bottom: 2rem;
    }
    button{
        display: block !important;
    }
    textarea{
        cursor: auto !important;
        overflow: scroll;
    }
}

button,a#redirect_to_input_btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 0.3rem;
}
div#dummy{
    padding:1rem 3rem;
    h3.dummy_title{
        font-size: clamp(2.5rem, 3.5rem ,3.5vw);
        color:var(--clr);
        font-weight:400;
        margin-bottom:clamp(4rem,5rem,5vw);
    }
}
a#redirect_to_input_btn{
    background: rgb(2, 61, 95);
    transition: transform 0.3s linear;
    max-width: 22rem;
    height: clamp(4rem,4.5rem,4.5vw);
    h3{
        font-weight: 400;
        color:hsl(202, 97%, 97%);
        font-size: clamp(1.7rem,1.8rem,1.8vw);
    }
    span{
        font-size: clamp(2.5rem,3rem,3vw);
        color:rgb(12, 218, 12);
        margin:0 0.8rem;
    }
    &:active{
        transform: translateY(0.3rem) scale(0.8);
    }

}
.each_note_container{
    transition:width 0.3s ease, transform 0.3s ease !important;
}
button#save_btn{
    background: green;
    font-size:clamp(1.5rem,1.7rem,1.7vw);
    color:white;
    font-weight: 400;
    padding:0.5rem 2rem !important;
    left:1rem !important;
    bottom:1rem !important;
}

button#delete_btn{
    background: none;
    transition: transform 0.2s ease;
    bottom:1rem !important;
    right:1rem !important;
    span{
        height: 2rem;
        width:2rem;
        display: flex;
        color:red;
        svg{
            width:100%;
            height: 100%;
        }
    }
    &:hover{
        transform: translateY(-0.7rem);
    }
}

@keyframes deletion{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        transform: translateY(15rem)  rotate(-25deg);
        opacity: 0;
    }
}