@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins',sans-serif;
}

body {
  background: #131516;
  min-height: 100vh;
}

input, textarea {
  background: inherit;
  border: 1px solid rgba(200, 200, 200, 0.2);
  color: #e6e6e6;
  font-family: inherit;
  resize: none;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #111114 !important;
}

input {
  height: clamp(2.5rem, 3rem, 3vw);
  font-size: clamp(1.8rem, 2rem, 2vw);
  padding: 2rem 1rem;
}

textarea {
  height: 15rem;
  padding-bottom: 3rem;
  font-size: clamp(1.7rem, 1.9rem, 1.9vw);
}

header {
  padding: 1rem 1rem;
  border-bottom: 1px solid #252525;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

header h3 {
  font-size: clamp(2.5rem, 3rem, 3vw);
  color: #e6e6e6;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.note_input_section {
  padding: 3rem 0 0 0;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

a#note_gen_btn {
  background: #025381;
  width: 4.5rem;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  overflow: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
}

a#note_gen_btn:before, a#note_gen_btn:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 0.2rem;
  background: #e6e6e6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

a#note_gen_btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

a#note_gen_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

div#note_output_section {
  padding: 3rem 1rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
}

div#note_output_section div.each_note_container {
  text-align: center;
  color: #f0f0f0;
  border: 1px solid rgba(240, 240, 240, 0.1);
  height: clamp(20rem, 25rem, 25vw);
  border-radius: 0.3rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #111114;
  word-wrap: break-word;
}

div#note_output_section div.each_note_container h3 {
  padding: 0.3rem 0;
  border-bottom: 1px solid rgba(240, 240, 240, 0.1);
  font-size: clamp(1.8rem, 2.2rem, 2.2vw);
  font-weight: 300;
  color: whitesmoke;
}

div#note_output_section div.each_note_container p {
  padding: 0.5rem;
  text-align: left;
  color: gainsboro;
  font-size: clamp(1.5rem, 1.8rem, 1.8vw);
}

div#note_output_section div.each_note_container button {
  display: none;
}

@media screen and (min-width: 600px) {
  div.search_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.search_form input {
    padding: 0.5rem 1rem;
    font-size: clamp(1.5rem, 1.7rem, 1.7vw);
  }
  div.note_input_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 0 0;
    width: 50%;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
  }
  div.note_input_section input, div.note_input_section textarea {
    width: 100%;
  }
  div.note_input_section textarea {
    height: 15rem;
  }
  div#note_output_section {
    padding: 3rem 3rem;
    -ms-grid-columns: (minmax(30rem, 40rem))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
    grid-gap: 3rem;
    position: relative;
  }
  div#note_output_section button {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  div#note_output_section div.each_note_container {
    height: clamp(17rem, 20rem, 20rem);
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  div#note_output_section div.each_note_container:hover button {
    opacity: 1;
  }
}

.body_relative {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
}

.body_relative input, .body_relative textarea {
  background: inherit !important;
}

.body_relative div#note_output_section div {
  background: inherit;
}

.active_editing {
  background: #111114 !important;
  border: 1px solid green !important;
  position: relative;
}

.active_editing button {
  bottom: 0;
  right: 0;
  position: absolute;
  display: block !important;
}

@media screen and (min-width: 600px) {
  .active_editing button {
    bottom: 3rem;
    right: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */