* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr:rgb(245,245,245);
  --bg-clr:rgb(35,38,41);
  --border:rgba(255,255,255,0.15);
  --input-bg:rgb(17, 17, 20);
  --each-note-bg:rgb(17,17,20);
  --each-note-shadow:rgba(64, 61, 71, 0.2);
  --input-focused:rgba(37, 37, 37, 0.2);
}

.toggle_theme {
  --clr:rgb(26, 25, 25);
  --bg-clr:rgb(225, 225, 225);
  --border:rgba(22, 22, 22, 0.2);
  --input-bg:rgb(248, 248, 248);
  --each-note-bg:rgb(248, 248, 248);
  --each-note-shadow:rgba(0,0,0,0.2);
  --input-focused:rgba(0,0,0,0.5);
}

.toggle_theme div.circle {
  -webkit-transform: translateX(210%);
          transform: translateX(210%);
}

.toggle_theme a {
  background: white;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins',sans-serif;
}

body {
  background: var(--bg-clr);
  min-height: 100vh;
  max-width: 200rem;
  margin: 0 auto;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

input, textarea {
  background: inherit;
  border: 1px solid var(--border);
  font-family: inherit;
  resize: none;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--input-bg) !important;
  color: var(--clr);
  border-radius: 0.3rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

input {
  height: clamp(2.5rem, 3rem, 3vw);
  font-size: clamp(1.8rem, 2.5rem, 2.2vw);
  padding: 2rem 1rem;
}

textarea {
  height: 15rem;
  font-size: clamp(1.8rem, 2rem, 2vw);
}

main {
  padding-bottom: 4rem;
}

a {
  cursor: pointer;
  -webkit-transition: trasform 0.3s ease;
  transition: trasform 0.3s ease;
}

a:active {
  -webkit-transform: scale(0.9) translateY(0.2rem);
          transform: scale(0.9) translateY(0.2rem);
}

header {
  border-bottom: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

header h3 {
  font-size: clamp(2.5rem, 3rem, 3vw);
  font-weight: 300;
  color: var(--clr);
}

header div {
  position: relative;
  width: 8rem;
  height: 2.5rem;
}

header div div.circle {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 2.6rem;
  height: 100%;
  background: #017a60;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
}

header a {
  width: 100%;
  height: 100%;
  border-radius: 1111rem;
  background: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7rem;
}

div.note_input_section {
  position: relative;
  width: 90%;
  margin: 0 auto 6rem auto;
}

div.note_input_section input {
  margin-bottom: 0.3rem;
}

a#note_gen_btn {
  background: #025381;
  width: 4.5rem;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  overflow: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
}

a#note_gen_btn:before, a#note_gen_btn:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 0.2rem;
  background: #e6e6e6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

a#note_gen_btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

a#note_gen_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

div#note_output_section {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div#note_output_section div.each_note_container {
  text-align: center;
  border: 1px solid var(--border);
  width: 100%;
  height: clamp(20rem, 25rem, 25vw);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background: var(--each-note-bg);
  word-wrap: break-word;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

div#note_output_section div.each_note_container h3 {
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--border);
  font-size: clamp(1.8rem, 2.2rem, 2.2vw);
  font-weight: 300;
  color: var(--clr);
}

div#note_output_section div.each_note_container p {
  height: 70%;
  padding: 0.5rem;
  text-align: left;
  color: var(--clr);
  font-size: clamp(1.5rem, 1.8rem, 1.8vw);
  font-weight: 300;
}

div#note_output_section div.each_note_container button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

div#note_output_section div.each_note_container button#save_btn {
  left: 0;
}

div#note_output_section div.each_note_container span.ripple_effect {
  position: absolute;
  background: rgba(2, 61, 95, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: animate_ripple 0.6s linear infinite;
          animation: animate_ripple 0.6s linear infinite;
}

@-webkit-keyframes animate_ripple {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 80rem;
    height: 80rem;
  }
}

@keyframes animate_ripple {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 80rem;
    height: 80rem;
  }
}

@-webkit-keyframes load_div {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load_div {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  margin: 4rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

div.search_form h3 {
  font-size: clamp(2rem, 3.5rem, 3.5vw);
  color: var(--clr);
  font-weight: 300;
  width: 100%;
}

div.search_form input#search_keyword {
  max-width: 60rem;
  padding: 2rem 1rem;
  margin-left: auto;
  font-size: clamp(1.5rem, 1.7rem, 1.7vw);
  height: clamp(2.5rem, 4rem, 4vw) !important;
  color: var(--clr);
}

@media screen and (min-width: 600px) {
  div.note_input_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 0 0;
    width: 50%;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
  }
  div.note_input_section input, div.note_input_section textarea {
    width: 100%;
  }
  div.note_input_section textarea {
    height: 15rem;
  }
  div#note_output_section {
    padding: 3rem 3rem;
    position: relative;
  }
  div#note_output_section div.each_note_container {
    height: clamp(17rem, 20rem, 20rem);
    width: 30%;
    max-width: 50rem;
    min-width: 40rem;
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  }
  div#note_output_section div.each_note_container:hover {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  div#note_output_section div.each_note_container:hover button#delete_btn {
    display: block;
  }
  div#note_output_section div.each_note_container button#edit_note {
    display: none !important;
  }
}

.body_relative {
  position: relative;
  background: var(--bg-clr);
}

.body_relative input, .body_relative textarea {
  background: inherit !important;
}

.body_relative div#note_output_section div {
  background: inherit;
}

.active_editing {
  background: var(--each-note-bg) !important;
  border: 1px solid green !important;
  position: relative;
}

.active_editing button {
  display: block !important;
}

button, a#redirect_to_input_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0.3rem;
}

div#dummy h3.dummy_title {
  font-size: clamp(2rem, 2.5rem, 2.5vw);
  color: var(--clr);
  font-weight: 300;
  margin-bottom: 2rem;
}

a#redirect_to_input_btn {
  background: #023d5f;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-width: 25rem;
}

a#redirect_to_input_btn h3 {
  font-weight: 300;
  color: white;
  font-size: clamp(1.7rem, 2rem, 2vw);
}

a#redirect_to_input_btn span {
  font-size: clamp(2.5rem, 3rem, 3vw);
  color: #0cda0c;
  margin: 0 0.5rem;
}

a#redirect_to_input_btn:active {
  -webkit-transform: translateY(0.2rem) scale(0.95);
          transform: translateY(0.2rem) scale(0.95);
}

button#save_btn {
  background: green;
  font-size: clamp(1.5rem, 1.7rem, 1.7vw);
  color: white;
  padding: 0 0.5rem;
}

button#delete_btn {
  background: none;
  padding: 0.5rem;
}

button#delete_btn span {
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
}

button#delete_btn span svg {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */