// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --clr:rgb(245,245,245);
    --bg-clr:rgb(35,38,41);
    --border:rgba(255,255,255,0.15);
    --input-bg:rgb(17, 17, 20);
    --each-note-bg:rgb(17,17,20);
    --each-note-shadow:rgba(64, 61, 71, 0.2);
    --input-focused:rgba(37, 37, 37, 0.2);
}
.toggle_theme{
    --clr:rgb(26, 25, 25);
    --bg-clr:rgb(225, 225, 225);
    --border:rgba(22, 22, 22, 0.2);
    --input-bg:rgb(248, 248, 248);
    --each-note-bg:rgb(248, 248, 248);
    --each-note-shadow:rgba(0,0,0,0.2);
    --input-focused:rgba(0,0,0,0.5);

    div.circle{
        transform:translateX(210%);
    }a{
        background: white;
    }
}
html{
    font-size:62.5%;
    font-family: 'Poppins',sans-serif;
}
body{
    background: var(--bg-clr);
    min-height: 100vh;
    max-width: 200rem;
    margin:0 auto;
    transition:background 0.2s ease;
}

input,textarea{
    background: inherit;
    border:1px solid var(--border);
    font-family:inherit;
    resize:none;
    display: block;
    width:100%;
    padding:0.5rem 1rem;
    background: var(--input-bg) !important;
    color:var(--clr);
    border-radius: 0.3rem;
    transition: background 0.3s ease;
}
input{
    height: clamp(2.5rem,3rem,3vw);
    font-size: clamp(1.8rem,2.5rem,2.2vw);
    padding:2rem 1rem;
}
textarea{
    height: 15rem;
    // padding-bottom: 3rem;
    font-size: clamp(1.8rem,2rem,2vw);
}
main{
    padding-bottom: 4rem;
}
a{
    cursor: pointer;
    transition: trasform 0.3s ease;
    &:active{
        transform: scale(0.9) translateY(0.2rem);
    }
}
header{
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    h3{
        font-size:clamp(2.5rem,3rem,3vw);
        font-weight: 300;
        color:var(--clr);
    }
    div{
        position: relative;
        width:8rem;
        height: 2.5rem;
        div.circle{
            position:absolute;
            border-radius: 50%;
            top:0;
            left:0;
            width:2.6rem;
            height: 100%;
            background: rgb(1, 122, 96);
            transition:transform 0.3s ease;
            pointer-events: none;
            // font-size: 2rem;
        }
    }
    a{
        width:100%;
        height: 100%;
        border-radius: 1111rem;
        background: rgb(15, 15, 15);
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        font-size:1.7rem;
    }
}
div.note_input_section{
    position: relative;
    width:90%;
    margin:0 auto 6rem auto;
    padding-top:3rem ;
    input{
        margin-bottom: 0.3rem;
    }
}
a#note_gen_btn{
    background: rgb(2, 83, 129);
    width: 4.5rem;
    height:3rem;
    display: grid;
    place-items: center;
    cursor:pointer;
    transition: transform 0.2s ease;
    overflow: hidden;
    bottom: 0;
    right:0;
    position:absolute;
    &:before,&:after{
        content:'';
        position: absolute;
        width:30%;
        height: 0.2rem;
        background: rgb(230,230,230);
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        // transition: transform 0.2s ease;
        // transform-origin:center;
    }
    &:after{
        transform: translate(-50%,-50%) rotate(90deg);
        // transition: transform 0.2s ease;
    }
    &:active{
        transform: scale(0.8);
    }


}
div#note_output_section{
    // width:100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;


    div.each_note_container{
        text-align: center;
        border:1px solid var(--border);
        width: 100%;
        height: clamp(20rem,25rem,25vw);
        border-radius:0.3rem;
        margin-bottom: 2rem;
        transition: background 0.3s ease;
        background: var(--each-note-bg);
        word-wrap:break-word;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        position:relative;
        overflow:hidden;

        h3{
            padding:0.3rem 0;
            border-bottom:1px solid var(--border);
            font-size: clamp(1.8rem,2.2rem,2.2vw);
            font-weight: 300;
            color:var(--clr);
        }
        p{
            height: 70%;
            padding:0.5rem;
            text-align: left;
            color: var(--clr);
            font-size: clamp(1.5rem,1.8rem,1.8vw);
            font-weight: 300;
            // position: relative;
        }
        button{
                position: absolute;
                bottom:0;
                right:0;
                display: none;
        }
        button#save_btn{
                left:0;
                // display: none;
        }
        span.ripple_effect{
            position:absolute;
            background: rgba(2, 61, 95,0.3);
            transform:translate(-50%,-50%);
            border-radius:50%;
            pointer-events: none;
            animation:animate_ripple 0.6s linear infinite;
        }
        @keyframes animate_ripple{
            from{
                width:0;
                height:0;
            }
            to{
                width:80rem;
                height: 80rem;
            }
        }
    }
}
@keyframes load_div{
    from{
        opacity: 0;
        transform: scale(0.5);
    }to{
        opacity: 1;
        transform:scale(1);
    }
}


div.search_form{
    display: flex;
    // width:100%;
    padding: 0 3rem;
    margin:4rem 0;
    align-items: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    h3{
        font-size: clamp(2rem,3.5rem,3.5vw);
        color:var(--clr);
        font-weight: 300;
        width: 100%;
    }
    input#search_keyword{
        // width:40%;
        max-width: 60rem;
        // min-width: 22rem;
        padding: 2rem 1rem;
        margin-left: auto;
        font-size: clamp(1.5rem,1.7rem,1.7vw);
        height: clamp(2.5rem,4rem,4vw) !important;
        color:var(--clr);
    }
}
@media screen and(min-width:600px){

    div.note_input_section{
        display:flex;
        flex-direction:column;
        padding:3rem 0 0 0;
        width:50%;
        max-width: 60rem;
        margin:0 auto;
        position:relative;
        input,textarea{
            width:100%;
        }
        textarea{
            height: 15rem;
        }
    }

    div#note_output_section{
        padding:3rem 3rem;
        position: relative;
        div.each_note_container{
            height: clamp(17rem,20rem,20rem);
            width: 30%;
            max-width: 50rem;
            min-width: 40rem;
            transition: transform 0.15s ease;

            &:hover{
                transform: translateY(-1rem);
                button#delete_btn{
                    display: block;
                }
            }
            button#edit_note{
                display: none !important;
            }
        }
    }
}

.body_relative{
    position: relative;
    background: var(--bg-clr);
    input,textarea{background: inherit !important;}
    div#note_output_section div{
        background: inherit;
    }
}
.active_editing{
    background: var(--each-note-bg) !important;
    border:1px solid green !important;
    position: relative;
    button{
        display: block !important;
    }
}

button,a#redirect_to_input_btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 0.3rem;
}
div#dummy{
    h3.dummy_title{
        font-size: clamp(2rem, 2.5rem ,2.5vw);
        color:var(--clr);
        font-weight:300;
        margin-bottom:2rem;
    }
}
a#redirect_to_input_btn{
    background: rgb(2, 61, 95);
    transition: transform 0.3s ease;
    max-width: 25rem;
    h3{
        font-weight: 300;
        color:white;
        font-size: clamp(1.7rem,2rem,2vw);
    }
    span{
        font-size: clamp(2.5rem,3rem,3vw);
        color:rgb(12, 218, 12);
        margin:0 0.5rem;
        // color: white;
    }
    &:active{
        transform: translateY(0.2rem) scale(0.95);
    }

}
button#save_btn{
    background: green;
    font-size:clamp(1.5rem,1.7rem,1.7vw);
    color:white;
    padding:0 0.5rem;
}
button#delete_btn{
    background: none;
    padding:0.5rem;
    span{
        height: 2rem;
        width:2rem;
        display: flex;
        color:red;
        svg{
            width:100%;
            height: 100%;
        }
    }
}

